$primary-background: #FF4136;
$secondary-background: #0074D9;

body {
    background-color: $primary-background;
    color: $secondary-background;
}


.container h1 {
    // animation: flipIn duration timing-function delay iteration-count direction fill-mode;
}

.navigation {
    // text-align: right;
    // align-content: flex-end;
    position: fixed;
    right: 0;
}

// #hamburger {
//     // transform: scale(2);
// }

.active {
    transform: rotate(90deg);

}

.page-active {
    background-color: $secondary-background;
    color: $primary-background;
}



