$primary-background: #FF4136;

body {
    background-color: $primary-background;
}


.navigation {
    // text-align: right;
    // align-content: flex-end;
    position: fixed;
    right: 0;
}

// #hamburger {
//     // transform: scale(2);
// }

.active {
    transform: scale(2)
}